<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="backToDashboard()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span
      >Администраторски панел ->
      <span *ngIf="doctor.id == 0; else updateDoctor">Регистрация</span>
      <ng-template #updateDoctor>Промяна</ng-template> на доктор</span
    >
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon log-out-button"
      aria-label="Example icon-button with heart icon"
    >
      Log out
    </button>
  </mat-toolbar>
</p>

<mat-form-field class="example-full-width">
  <mat-label>Име на Доктор</mat-label>
  <input matInput placeholder="Име" value="Sushi" [(ngModel)]="doctor.name" />
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Специалност</mat-label>
  <input
    matInput
    placeholder="Име"
    value="Sushi"
    [(ngModel)]="doctor.specialty"
  />
</mat-form-field>

<mat-checkbox class="example-margin" [(ngModel)]="doctor.isPersonalDoctor"
  >Личен лекар ли е</mat-checkbox
>

<!-- <button mat-raised-button>Basic</button> -->
<div *ngIf="doctor.id == 0; else updatePatientButton">
  <button mat-raised-button (click)="registerDoctor()">Регистрирай</button>
</div>
<ng-template #updatePatientButton>
  <button mat-raised-button (click)="updateDoctorData()">Промени</button>
</ng-template>
