<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="backToDashboard()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Пациентски панел -> <span>Регистрация</span></span>
    <!-- <ng-template #updatePatient>Промяна</ng-template> за преглед</span -->
    >
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon log-out-button"
      aria-label="Example icon-button with heart icon"
    >
      Log out
    </button>
  </mat-toolbar>
</p>

<mat-form-field class="example-full-width">
  <mat-label>Заболяване:</mat-label>
  <input matInput [(ngModel)]="medicalNote.sickness" />
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Лечение:</mat-label>
  <input matInput [(ngModel)]="medicalNote.treatment" />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Начало на болниче</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="medicalNote.hospitationStartDate"
  />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input
    matInput
    [matDatepicker]="picker1"
    [(ngModel)]="medicalNote.hospitationEndDate"
  />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<button mat-raised-button (click)="createMedicalNote()">Регистрирай</button>
