<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="backToDashboard()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span
      >Администраторски панел ->
      <span *ngIf="patient.id == 0; else updatePatient">Регистрация</span>
      <ng-template #updatePatient>Промяна</ng-template> на пациент</span
    >
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon log-out-button"
      aria-label="Example icon-button with heart icon"
      (click)="logout()"
    >
      Log out
    </button>
  </mat-toolbar>
</p>

<mat-form-field class="example-full-width">
  <mat-label>Име на пациента</mat-label>
  <input matInput placeholder="Име" value="Sushi" [(ngModel)]="patient.name" />
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>ЕГН на пациента</mat-label>
  <input matInput placeholder="Име" value="Sushi" [(ngModel)]="patient.egn" />
</mat-form-field>

<mat-checkbox class="example-margin" [(ngModel)]="patient.hasPaidSocialSecurity"
  >Осигурявал ли се е за последните 6 месеца</mat-checkbox
>

<mat-form-field appearance="fill">
  <mat-label>Доктори</mat-label>
  <mat-select [(ngModel)]="doctorId">
    <mat-option *ngFor="let doctor of personalDoctors" [value]="doctor.id">{{
      doctor.name
    }}</mat-option>
  </mat-select>
</mat-form-field>
<!-- <button mat-raised-button>Basic</button> -->
<div *ngIf="patient.id == 0; else updatePatientButton">
  <button
    mat-raised-button
    (click)="registerPatient()"
    [disabled]="isFormValid()"
  >
    Регистрирай
  </button>
</div>
<ng-template #updatePatientButton>
  <button
    mat-raised-button
    (click)="updatePatientData()"
    [disabled]="isFormValid()"
  >
    Промени
  </button>
</ng-template>
