<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    ></button>
    <span>Пациентски панел</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon log-out-button"
      aria-label="Example icon-button with heart icon"
    >
      Log out
    </button>
  </mat-toolbar>
</p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Медицинска история </mat-panel-title>
    </mat-expansion-panel-header>
    <table
      mat-table
      [dataSource]="patient.medicalNotesHistory"
      class="mat-elevation-z8"
    >
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="sickness">
        <th mat-header-cell *matHeaderCellDef>Заболяване</th>
        <td mat-cell *matCellDef="let element">{{ element.sickness }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="doctorName">
        <th mat-header-cell *matHeaderCellDef>Лекар специалист</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.doctor">{{ element.doctor.name }}</span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="treatment">
        <th mat-header-cell *matHeaderCellDef>Лечение</th>
        <td mat-cell *matCellDef="let element">{{ element.treatment }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="hospitationStartDate">
        <th mat-header-cell *matHeaderCellDef>Начална дата на болничния</th>
        <td mat-cell *matCellDef="let element">{{ element.specialty }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="hospitationEndDate">
        <th mat-header-cell *matHeaderCellDef>Крайна дата на болничния</th>
        <td mat-cell *matCellDef="let element">{{ element.specialty }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="medicalNotesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: medicalNotesColumns"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Заявени прегледи </mat-panel-title>
    </mat-expansion-panel-header>
    <table
      mat-table
      [dataSource]="requestedVisitations"
      class="mat-elevation-z8"
    >
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="complains">
        <th mat-header-cell *matHeaderCellDef>Оплаквания</th>
        <td mat-cell *matCellDef="let element">{{ element.complains }}</td>
      </ng-container>
      <ng-container matColumnDef="visitationData">
        <th mat-header-cell *matHeaderCellDef>Дата за преглед</th>
        <td mat-cell *matCellDef="let element">{{ element.visitationDate }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visitationColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: visitationColumns"></tr>
    </table>
    <button
      mat-raised-button
      class="create-patient-button"
      (click)="registerVisitation()"
    >
      Регистрирай нов преглед
    </button>
  </mat-expansion-panel>
</mat-accordion>
